{% extends '/front/question/base3.html.twig' %}

{% block title %}Ajouter question{% endblock %}

{% block body %}
<h2>Ajouter une question à {{ quiz.titre }}</h2>

{# Démarre le formulaire, désactive la validation HTML5 #}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_row(form.question) }}
{{ form_row(form.points) }}
{{ form_row(form.reponses) }}

<button class="btn btn-success">Ajouter</button>

{{ form_end(form) }}
{% endblock %}
